# Main
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env
**/.env
apartments_pipeline-main/

# DBT
prague_apartments/target/
prague_apartments/dbt_packages/
prague_apartments/logs/
prague_apartments_dbt/target/


# Streamlit
./visualisation
*.db
*.log
visualisation/.streamlit/secrets.toml

# VS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.egg-info/
